/* Reset some default styles and apply common styles */
body,
html {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    color: #ecf0f1;
    background-color: rgb(23, 24, 37);
    font-family: 'Fjalla One', sans-serif;
    animation: fadein 1.5s;
}

/* Keyframes for fade-in animation */
@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

/* Heading styles */
h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 0;
}

/* Input field styles */
input {
    background-color: rgba(52, 73, 94, 0.5);
    color: #ecf0f1;
    outline: none;
    text-align: right;
    border: none;
    font-size: 3rem;
    width: 80vw;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Container styles */
.container {
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Calculator container styles */
.calculator {
    padding: 0.25rem;
    display: inline-block;
}

/* Table styles (for calculator buttons) */
table {
    margin: auto;
}

/* Button styles */
button {
    border: none;
    background-color: white;
    width: 20vw;
    height: 10vh;
    padding: 0.5rem 0;
    margin: 0.25vmax;
    font-size: 2vmax;
    border-radius: 1rem;
    transition: all 0.5s ease;
}

/* Button styles on active (clicked) */
button:active {
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* Button styles on hover */
button:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Anchor (link) styles */
a {
    outline: none;
    transition: all 0.5s ease;
}

/* Anchor styles on hover */
a:hover {
    text-shadow: 0px 0px 10px rgba(241, 196, 15, 0.5);
}

/* Message for turning device (landscape orientation) */
#turn {
    display: none;
    z-index: 100;
    position: fixed;
}

/* History button styles */
#historybutton {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

/* History container styles */
#history {
    position: absolute;
    width: 90%;
    height: 80vh;
    top: 10vh;
    background-color: white;
    border: 6px solid black;
    border-radius: 10px;
    display: none;
}

/* History element styles */
.historyelement {
    color: black;
    margin: 20px;
    font-size: 40px;
}

/* Toggle switch container styles */
.toggle-container {
    position: absolute;
    top: 4rem;
    left: 3rem;
}

/* Toggle switch styles */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Toggle switch input styles */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Toggle slider styles */
.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

/* Toggle slider before styles */
.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(233, 227, 227);
    transition: .4s;
    border-radius: 50%;
}

/* Toggle switch styles when checked */
input:checked + .toggle-slider {
    background-color: #2a2c2e;
    border-radius: 10px;
}

/* Toggle switch styles on focus */
input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2b2c2d;
    border-radius: 10px;
}

/* Dark mode styles */
.dark-mode {
    background-color: black;
    color: #fff;
}

.dark-mode body,
.dark-mode html {
    background-color: black;
}

.dark-mode .calculator {
    background-color: black;
}

.dark-mode table {
    color: #fff;
}

.dark-mode button {
    background-color: #555;
    color: #fff;
}

.dark-mode a {
    color: #fff;
}

/* Styling for negative numbers (if applicable) */
.negative {
    color: red;
}
